body{
    background-color: rgb(104, 94, 94);
    color: whitesmoke;
    text-align: center;
    
}
.box{
    display: flex;
    justify-content: center;
}
p{
    height: auto;
    width: 500px;
    padding-top: 100px;
    padding: 20px;
    border: 2px red dotted;
}